* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    padding: 0;
}

table {
    font-family: "Roboto", sans-serif;
}

section.table-container ::-webkit-scrollbar {
    -webkit-overflow-scrolling: auto;
    -webkit-appearance: none;
    width: 8px;
}

section.table-container ::-webkit-scrollbar-thumb {
    /*border-radius: 4px;*/
    background-color: rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

th {
    text-transform: uppercase;
    padding: 12px 5px 4px 20px;
}

th span {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

tr {
    text-align: left;
}

thead {
    border-bottom: 1px solid #E3E3E3 !important;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.54)
}

thead tr {
    height: 56px;
    background-color: #fff;
}

tbody {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.87);
}

.overflow-hidden {
    overflow: hidden !important;
}

tbody [type="checkbox"] + label:before {
    border-radius: 0 !important;
}

tbody [type="checkbox"] + label {
    top: 2px;
}

tbody [type="checkbox"].filled-in + label {
    top: 6px;
}

tbody .frozen-col, thead .frozen-col div,
table.table th#col0.selection.frozen-col {
    display: flex;
    align-items: center;
}

.frozen-col {
    left: 0;
    top: auto;
    position: absolute;
}

.max-height {
    height: 100% !important;
}

.inner-shadow {
    -moz-box-shadow: inset 18px 0 20px -20px #aaaaaa;
    -webkit-box-shadow: inset 18px 0 20px -20px #aaaaaa;
    box-shadow: inset 18px 0 20px -20px #aaaaaa;
}

.inner-scroll {
    overflow-x: hidden;
    overflow-y: visible;
}

.x-scroll {
    overflow-x: scroll;
    height: 15px;
    width: 100%;
    overflow-y: hidden;
}

.table-container {
    height: 100%;
    width: 100%;
    background-color: #fff;
}

.table-container.stretch {
    width: 100% !important;
    height: 100% !important;
    max-height: 100% !important;
}

.table-container .progress {
    height: 3px;
    top: -0.6rem;
    margin: 0;
    margin-bottom: -3px;
    z-index: 20;
}

table.table .widget-cell {
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

table.table .cell {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

table.table tbody td {
    border-radius: 0;
    padding: 0 5px 0 20px;
}

table.table td#col0.selection {
    width: 45px;
}

table.table tbody tr.data-row #col0.frozen-col:not([data-title]) {
    padding-top: 0px !important;
    padding-left: 20px !important;
}

table.table #colex {
    text-align: center;
}

table.table #colex i {
    width: 100%;
}

table.table tbody tr.subheader {
    cursor: pointer;
    background-color: #fff;
    width: 100%;
    height: 46px;
    left: 0;
    right: 0;
    z-index: 2;
    position: absolute;
    border-bottom: 1px solid #E3E3E3;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

table.table tbody tr.subheader.expanded {
    /* CSS3 Box-Shadow */
    -webkit-box-shadow: 0 10px 9px -12px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0 10px 9px -12px rgba(0, 0, 0, 0.9);
    box-shadow: 0 10px 9px -12px rgba(0, 0, 0, 0.9);
}

table.table .table-header {
    width: 100%;
    display: inline-block;
}

table.table thead th.selected {
    color: #000;
}

table.table tbody tr.subheader.fixed {
    position: fixed;
}

table.table tbody tr.subheader.fixed.passed {

}

table.table tbody tr.subheader td {
    padding: 10px 5px !important;
}

table.table tbody tr.subheader span {
    position: relative;
    top: 2px;
}

table.table tbody tr.subheader th,
table.table tbody tr.subheader td {
    white-space: nowrap;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

table.table tbody tr.subheader th:first-child,
table.table tbody tr.subheader td:first-child {
    padding-left: 18px !important;
}

table.table tbody tr.selected, table.table tbody tr.selected td {
    background-color: #F5F5F5;
}

table.table .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0.2;
    background-color: black;
    z-index: 9999;
}

/* Menu Dropdown */
div.tool-panel ul.dropdown-content li {
    padding-left: 8px;
}

div.tool-panel ul.dropdown-content li label {
    height: 50px;
    width: 100%;
    padding-top: 12px;
}

div.tool-panel ul.dropdown-content li label:before,
div.tool-panel ul.dropdown-content li label:after {
    top: 11px;
}

div.tool-panel ul.dropdown-content li input.filled-in + label:before,
div.tool-panel ul.dropdown-content li input.filled-in + label:after {
    top: 14px;
}

section.table-container div.tool-panel ul.dropdown-content {
    max-height: 350px !important;
    overflow-y: auto;
    overflow-x: hidden;
}

section.table-container div.tool-panel ul.dropdown-content li > span {
    padding: 3px 5px;
}

.top-panel {
    width: 100%;
    height: 64px;
    position: relative;
    display: inline-block;
    background-color: #9E9E9E;
    border-bottom: 3px solid #D3D3D3;
    padding: 19px 12px 3px 16px;
    color: #fff;
    z-index: 5;
}

.tool-panel i {
    margin-left: 5px;
}

.info-panel {
    float: left;
}

.tool-panel {
    float: right;
}

.title {
    top: -6px;
    position: relative;
    margin-left: 10px;
    font-size: 16px;
}

.table-body {
    width: 100%;
    height: 100vh;
    /*top: -6px;*/

    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}

.table-body:focus {
    outline: none;
}

.table-footer {
    width: 100%;
}

.table-footer span.footer-left {
    float: left;
    text-align: left;
    width: 33.333%;
}

.table-footer span.footer-center {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    width: 33.333%;
}

.table-footer span.footer-right {
    float: right;
    text-align: right;
    width: 33.333%;
}

tr.disabled * {
    opacity: 0.7;
    background: #e9e9e9;
    cursor: not-allowed;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

tr.disabled:hover {
    color: rgba(0, 0, 0, 0.87);
    cursor: not-allowed;
    background-color: transparent !important;
}

tr .numeric {
    text-align: right;
}

table.table thead tr th {
    background-color: #fff;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-left: 20px;
}

tr.data-row, table.table thead tr th.sortable {
    cursor: pointer;
}

table.table tbody tr.data-row {
    border-bottom: 1px solid #E6E6E6;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

table.table tbody tr.data-row:hover {
    background: #EEEEEE;
    color: #000000;
}

table.table tbody tr.data-row td.hover {
    background: #EEEEEE;
    color: #000000;
}

table.table thead tr th.sortable:hover {
    color: rgba(0, 0, 0, 0.87);
}

table.table tbody tr.expansion td {
    padding: 0 !important;
}

table.table tbody tr.expansion td div.expanded {
    max-height: 600px;
    overflow: hidden;
    border-bottom: 1px solid #E6E6E6;
}

table.table tbody tr.expansion td div.expanded section.overlay {
    position: absolute;
    background: #fff;
    opacity: 0.5;
    font-size: 28px;
    width: 100%;
}

table.table tbody tr.expansion td div.expanded section.overlay i {
    position: relative;
    left: 50%;
    top: calc(40% - 19px);
}

/* --- Expanded Row Collapsed --- */
table.table tbody tr.expansion td > div {
    display: block;
    width: 100%;
    max-height: 0;
    line-height: 150%;
    overflow-y: hidden;

    /* CSS3 transition */
    -webkit-transition: all 0.25s cubic-bezier(0.35, 0, 0.35, 1);
    -moz-transition: all 0.25s cubic-bezier(0.35, 0, 0.35, 1);
    -o-transition: all 0.25s cubic-bezier(0.35, 0, 0.35, 1);
    -ms-transition: all 0.25s cubic-bezier(0.35, 0, 0.35, 1);
    transition: all 0.25s cubic-bezier(0.35, 0, 0.35, 1);
}

/* --- Expanded Row Columns --- */
/* --- 100% Width Column --- */
table.table tbody tr.expansion td div .content {
    width: 100%;
    height: 100%;
    display: block;
    float: left;
    overflow: auto;
    background: #f5f5f5;
}

/* --- Expanded Headers --- */
table.table tbody tr.expansion td div h3.expanded_header {
    margin: 0 0 15px 0;
    padding: 0;
    font-size: 16px;
    font-weight: normal;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
}

table.table tbody tr.expansion td div h4.expanded_header {
    margin: 0;
    padding: 8px;
    font-size: 14px;
    font-weight: normal;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    background: #f5f5f5;
}

/* --- Expanded Paragraph --- */
table.table tbody tr.expansion td > div p {
    margin: 4px 0 4px 0 !important;
    padding: 0 !important;
}

/* ==================== RESPONSIVE LAYOUT ==================== */
/* --- Mobile Devices Up To 560px --- */
@media only screen and (max-width: 520px), (min-device-width: 0px) and (max-device-width: 519px) {
    /** Global **/
    thead, tbody, tr,
    td:not(tr.expansion) {
        display: inline-block;
    }

    table.table {
        display: block !important;
    }

    /** Table Header **/
    .top-panel {
        height: 64px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .top-panel i {
        margin-top: -4px !important;
    }

    table.table thead {
        display: none;
    }

    /** Table Sub/Fixed Headers **/
    table.table tbody tr.subheader.fixed {
        margin-top: -2px;
    }

    /** Table Column **/
    tr.data-row td:before {
        content: attr(data-title);
        color: #000000;
        padding-right: 8px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    table.table .cell {
        color: #00000082;
    }

    tr.data-row td:before, table.table tbody td > div {
        width: 50%;
        display: inline-block;
        vertical-align: middle;
    }

    table.table .numeric {
        text-align: left !important;
    }

    table.table tbody tr.data-row td:first-child:before {
        padding-right: 6px !important;
    }

    table.table tbody tr.data-row td:first-child label {
        top: 6px;
    }

    /** Table Body **/
    table.table tbody {
        display: table;
        width: 100%;
        background: #e9e9e9;
    }

    .table-body {
        background: #ffffff;
        height: 440px;
        top: -6px;
    }

    /** Table Row **/
    table.table tbody tr.data-row {
        display: table;
        width: 94% !important;
        margin: auto !important;
        margin-top: 12px !important;
        margin-bottom: 12px !important;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        background: #ffffff;
        position: relative;
    }

    /** Table Row Disabled **/
    table.table tbody tr.data-row.disabled {
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    }

    table.table tbody tr.data-row.disabled td {
        border: 1px solid #d7d7d7;
    }

    /** Table Row Selected **/
    table.table tbody tr.data-row.selected {
        position: relative;
        background: #ffffff !important;
    }

    /** Table Row Expansion **/
    table.table tbody tr.expansion td {
        width: 94% !important;
        padding-top: 0px !important;
        margin: auto;
        margin-top: -12px;
    }

    table.table tbody tr.expansion td div.expanded {
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }

    tbody tr td#colex:before {
        display: none;
    }

    tbody tr td#colex #expand {
        cursor: pointer;
        width: 100px !important;
        background: #e9e9e9;
        border-radius: 20px;
    }

    /** Table Selection **/
    table.table tbody tr.data-row #col0:not([data-title]) {
        width: 40px !important;
        height: 40px !important;
        background: #e9e9e9;
        border-radius: 100%;
        position: absolute;
        z-index: 1;
        right: 6px;
        left: initial !important;
        top: 2px;
        box-shadow: none !important;
        padding-left: 0 !important;
        padding-top: 0 !important;
    }

    table.table tbody tr.data-row #col0:not([data-title]) label {
        padding: 0px !important;
        margin-left: -4px;
        margin-top: 3px;
    }

    /** Table Column **/
    table.table tbody tr.data-row:hover, table.table tbody tr.selected td {
        background: #ffffff;
    }

    table.table tbody td {
        padding: 12px !important;
        line-height: 150% !important;
        border-top: 1px solid #e9e9e9;
        position: relative;
        width: 100% !important;
        display: block !important;
        left: 0 !important;
        height: auto !important;
        border-bottom: none !important;
    }

    /** Table Subheader **/
    table.table tbody tr.subheader th {
        min-width: initial !important;
        max-width: initial !important;
    }

    /** Input Fields as Widget Cells **/
    table.table tbody tr td .widget-cell .input-field {
        margin: 0px;
    }

    /** Scrolling **/
    .inner-scroll {
        margin-left: 0 !important;
    }

    .x-scroll {
        display: none;
    }
}
